* {
    overflow-y: hidden;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

#container_adminactivitiespage {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-image: url(DMS_Background.png);
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
    padding-left: 8px;
    padding-right: 8px;
    z-index: 3;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.navigationbar {
    width: 100%;
    height: 60px;
    top: 0;
    display: flex;
    align-items: center;
    background-color: #ffffffbb;
    box-shadow: 0 5px 50px 0 rgba(0, 0, 0, 0.137);
    position: sticky;
}

#navbardmsicon {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 10px;
    top: 3px;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 10px;
    margin-right: 35px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 12pt;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
    transition: width 0.3s;
}

nav ul li a:hover::after {
    width: 50%;
}

ul li {
    list-style: none;
}

nav a.active {  
    color: #E8B7FF;
    font-weight: 700;
}

h3 {
    color: #E8B7FF;
}

.activitiestable {
    position: absolute;
    width: 1500px;
    height: 800px;
    top: 98px;
    background: #ffffffbb;
    box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.137);
    border-radius: 30px;
    text-align: center;
}

#thactivities {
    font-size: 15pt;
    font-weight: 700;
    padding-top: 20px;
}

#thactivitiesaddbttn {
    padding: 10px;
}

.activitiesaddrecbttn{
    color: #FFFFFF;
    background: #E8B7FF;
    border-style: none;
    border-radius: 24px;
}

tr, th, td {
    height: auto;
    width: 1350px;
}

.activitiestableeditbutton,.activitiestabledeletebutton {
    width: 100px;
    height: 20px;
    color: #FFFFFF;
    background: #E8B7FF;
    border-style: none;
    border-radius: 24px;
    justify-content: center;
    align-items: center;
}

#admineditbttna, #admindeletebttna {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
}

.activitiestableeditbutton:hover ,.activitiestabledeletebutton:hover {
    width: 100px;
    height: 20px;
    background: rgba(104, 198, 241, 0.5);
    border-style: none;
    border-radius: 24px;
    justify-content: center;
    align-items: center;
}

#admineditbttna:hover, #admindeletebttna:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
    font-weight: 700;
}

.activitiesaddrecbttn {
    display: flex;
    width: 307px;
    height: 47px;
    left: 642px;
    top: 116px;
}
