* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

#container_registrationpage4{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-image: url(DMS_Background.png);
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
    padding-left: 8px;
    padding-right: 8px;
    z-index: 3;
}

.regform {
    display: flex;
    position: absolute;
    width: 643px;
    height: 830px;
    left: 2%;
    top: 5%;
    background: #ffffffbb;
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.137);
    border-radius: 30px;
    align-items: center;
    justify-content: center;


}

.regform_titletxt {
    position: absolute;
    height: 92.35px;
    left: 0px;
    right: 0px;
    top: 40px;
    font-weight: 700;
    font-size: 36px;
    line-height: 130%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    letter-spacing: -0.01em;
    color: black;
 
}

.regform_progressbar {
    position: absolute;
    width: 326px;
    height: 10px;
    left: 160px;
    top: 120px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.award_details {
    display: inline-block;
    width: 45%;
    margin-right: 5%;
    justify-content: center;
    align-items: center;
}

#awardtitle, #awardtitle_label {
    margin-left: 50px;
}
.award_details:last-child {
    margin-right: 0;
}

label {
    margin-top: 15px;
}
  
input {

    width: 250px;
    padding: 8px;
    height: 50px;
    background: #f7f8f928;
    border: 1px solid #DADADA;
    border-radius: 8px;
  }

.regpage_proceedbtn {
    display: flex;
    position: absolute;
    width: 250.98px;
    height: 49.98px;
    left: 204px;
    top: 700px;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.035em;
    justify-content: center;
    color: #FFFFFF;
    background: #E8B7FF;
    box-shadow: 5px 5px 35px 1px rgba(63, 26, 75, 0.14);
    border-radius: 24px;
}

.regpage_proceedbtn:hover {
    display: flex;
    position: absolute;
    width: 250.98px;
    height: 49.98px;
    left: 204px;
    top: 700px;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.035em;
    justify-content: center;
    color: black;
    background: rgba(104, 198, 241, 0.5);
    box-shadow: 5px 5px 35px 1px rgba(63, 26, 75, 0.14);
    border-radius: 24px;
}

.regpage_dmsicon {
    display: flex;
    position: absolute;
    width: 916px;
    height: 916px;
    left: 937px;
    top: 0;
}